VITE_RAZORPAY_KEY_ID=
VITE_API_URL=http://localhost:5000
VITE_ADMIN_TOKEN=mysecrettoken123
VITE_EVENT_NAME=Balaghat Event
VITE_EVENT_DATE=December 31, 2026
VITE_EVENT_VENUE=City Convention Centre, Balaghat
VITE_SUPPORT_EMAIL=support@yourevent.com
VITE_PRICE_GENERAL=500
VITE_PRICE_VIP=1000
VITE_MAX_TICKETS=10
